[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
djoser = "*"
django-cors-headers = "*"
